# Local-only credentials. Do not place production values in this file.
ODOO_SOURCE_PATH=../Codoo/odoo/odoo
ODOO_DB=facodi_dev
ODOO_DB_PASSWORD=facodi-dev-postgres-password
ODOO_ADMIN_PASSWD=facodi-dev-admin-password
ODOO_HTTP_PORT=8069