[submodule "addons/facodi-learning"]
	path = addons/facodi-learning
	url = https://github.com/marcelo-m7/facodi-learning.git
[submodule "addons/facodi-theme"]
	path = addons/facodi-theme
	url = https://github.com/marcelo-m7/facodi-theme.git
[submodule "addons/monynha-odoo"]
	path = addons/monynha-odoo
	url = https://github.com/marcelo-m7/monynha-odoo.git
[submodule "addons/facodi-ai"]
	path = addons/facodi-ai
	url = https://github.com/marcelo-m7/facodi-ai.git
[submodule "vendor/odoo-design-themes"]
	path = vendor/odoo-design-themes
	url = https://github.com/odoo/design-themes.git
[submodule "vendor/monodoo"]
	path = addons/monodoo
	url = https://github.com/marcelo-m7/monodoo.git
